@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 40%;
  height: 50rem;
  object-fit: cover;
}

.content {
  width: 50%;
}

.name {
  margin: 0;
  @include h3;
}

.rank {
  display: block;
  @include fontSmall;
}

.description {
  @include fontRegular;
}
