@import 'fonts';
@import 'variables';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  background-color: $colorMain;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

a {
  text-decoration: none;
}

.siteWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.section {
  &:first-of-type {
    margin-top: 3rem;
  }
  &:not(:first-of-type) {
    margin-top: 10rem;
  }
}

@media (max-width: 767px) {
  .section {
    &:not(:first-of-type) {
      margin-top: 5rem;
    }
  }
}
