@import "variables";

@mixin h1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: $colorDark;
}

@mixin h2 {
  font-family: "Gilroy", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: $colorLightest;
  letter-spacing: 1px;
}

@mixin h3($color: $colorLightest) {
  font-family: "Gilroy", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.75;
  color: $color;
}

@mixin fontRegular($color: $colorLightest) {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: $color;

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

@mixin fontSmall($color: $colorDarker) {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  color: $color;
}

@mixin fontNavigation($color: $colorDarker) {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.25;
  color: $color;

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

@mixin catalogLabel($color: $colorLightest) {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: $color;
  letter-spacing: 1px;

  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

@mixin fontLogo($color: $colorLightest) {
  font-family: "Gilroy", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.38;
  color: $color;
  letter-spacing: 1px;
  text-transform: uppercase;
}
