$colorLight: #fff;
$colorMedium: #c9c9c9;
$colorDark: #323232;
$colorGradient: linear-gradient(91.83deg, #93e08c -1.93%, #78cebf 97.03%);

$colorMain: #4C5760;
$colorLightest: #D7CEB2;
$colorDarker: #66635B;
$colorLighter: #A59E8C;
$colorHighlight: #93A8AC;
