$colorLight: #fff;
$colorMedium: #c9c9c9;
$colorDark: #323232;
$colorGradient: linear-gradient(91.83deg, #93e08c -1.93%, #78cebf 97.03%);

$colorMain: #000000;
$colorLightest: #ffffff;
$colorDarker: #999999;

$colorHighlightRed: #ff0000;
